body{
	background-color: #f0f0f0;
}

header{
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #606060;
}

#header{
	display: table;
	height: 160px;
	max-width: 1140px;
	width: 100%;
	margin: auto;
}

#cabecera{
	margin-top: 45px;
	margin-bottom: 10px;
}

#logo{
	width: 190px;
	height: 45px;
	background-color: red;
	display: inline-block;
}

.header_cont_link{
	vertical-align: bottom;
	margin-bottom: 5px;
	display: inline-block;
}

.header_link{
	display: table;
	height: 22px;
	line-height: 22px;
	padding-left: 27px;
	background-color: #989898;
	display: inline-block;
}

#header_menu{
	margin: 24px 0;	
	display: table;
}

#menu{
	display: table;
	float: left;
}

#social-cont{
	float: right;
}

#menu ul, #social-cont ul{
	margin: auto;
	padding: 0;
}

#menu li, #social-cont li{
	text-decoration: none;
	display: inline-block;
}

.menu-item{
	margin-right: 25px;
	text-transform: uppercase;
}

.menu-item a{
	color: #4a1e91;
}

.menu-item a:link{
	text-decoration: none;
}

.social-item{
	height: 20px;
	width: 15px;
	margin-right: 35px;
	background-color: #bababa; 
}

section{
	max-width: 1140px;
	width: 100%;
	margin: auto;
}

.section_title{
	font-size: 22px;
	color: #4d1cad;
}

.section_subtitle{
	color: gray;
	font-size: 14px;
	padding-left: 5px;
}