body{
	background-color: #f0f0f0;
}

header{
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #606060;
}

#header{
	display: table;
	height: 160px;
	max-width: 1140px;
	width: 100%;
	margin: auto;
}

#cabecera{
	margin-top: 45px;
	margin-bottom: 10px;
}

#logo{
	width: 190px;
	height: 45px;
	background-color: red;
	display: inline-block;
}

.header_cont_link{
	vertical-align: bottom;
	margin-bottom: 5px;
	display: inline-block;
}

.header_link{
	display: table;
	height: 22px;
	line-height: 22px;
	padding-left: 27px;
	background-color: #989898;
	display: inline-block;
}

#header_menu{
	margin: 24px 0;	
	display: table;
	
}

#menu{
	display: table;
	float: left;
}

#social-cont{
	float: right;
	margin: 10px 0;	
}

#menu ul, #social-cont ul{
	margin: auto;
	padding: 0;
}

#menu li, #social-cont li{
	text-decoration: none;
	display: inline-block;
}

.menu-item{
	margin-right: 25px;
	text-transform: uppercase;
}

.menu-item a{
	color: #4a1e91;
}

.menu-item a:link{
	text-decoration: none;
}

.social-item{
	height: 20px;
	width: 15px;
	margin-right: 35px;
	background-color: #bababa; 
}

section{
	margin: auto;
}

.section_title{
	font-size: 22px;
	color: #4d1cad;
	margin: 0;
	margin-bottom: 15px;
}

.section_subtitle{
	color: gray;
	font-size: 14px;
	padding-left: 5px;
}

#adopta{
	padding-top: 30px;
}

#adopta_content{
	display: table;
	width: 100%;
	border-collapse: collapse;
	margin: auto;
}

.adopta_item{
	border: 1px solid #b2b2b2;
	padding: 20px;
	box-sizing: border-box;
}

.adopta_item.col-sm-4 {
    display: table-cell;
    float: none; 
    vertical-align: top;
}

.adopta_title{
	margin-top: 20px;
	display: table;
	width: 100%;
}

.adopta_item_cont{
	max-width: 340px;
	width: 90%;
	margin: auto;
}

.adopta_img{
	width: 100%;
	height: 200px;
	background-color: #b2b2b2;
}

.adopta_nombre{
	font-size: 20px;
	color: #4d1cad;
	vertical-align: bottom;
	display: table-cell;
	line-height: 25px;
}

.adopta_fecha{
	color: #b2b2b2;
	font-size: 12px;
	vertical-align: bottom;
	display: table-cell;
}

.adopta_data{
	margin-top: 15px;
}

.adopta_data_item{
	display: inline-block;
	border-radius: 10px;
	border: 1px solid #b2b2b2;
	padding: 2px 10px;
	margin: 5px 2px;
	font-size: 12px;
}

.data_item_title{
	font-weight: bold;
}

#trendy{
	padding: 40px 0;
	padding-bottom: 80px;
}

#trendy_section{
	height: 240px;
	background: #444;
}

.trendy_item{
	height: 100%;
	
}

#ver_mas_historias{
	color: white;
	font-size: 14px;
	background-color: #4d1cad;
	display: table;
	padding: 4px 12px;
	cursor: pointer;
}

.section_title_cont{
	background-color: #c2c2c2;
	display: table;
	width: 100%;
	padding: 7px 0;
}

#historias{
	background-color: #808080;
	
}

.historia_item{
	margin-bottom: 30px;
}

#historia_content{
	padding: 30px 0;
}

.historia_text{
	font-size: 14px;
	color: #cacaca;
	margin-top: 10px;
}

#tips{
	background-color: #CACACA;
	padding: 40px 0;
}

#tips_carrusel{
	max-width: 1000px;
	width: 94%;
	margin: 30px auto;
	display: table;
	
}

#tips_carrusel_icons{
	height: 130px;
}

.tips_icon{
	height: 100%;
	cursor: pointer;
}

.tips_icon.active{
	background-color: white;
}

#tips_carrurel_cont{
	position: relative;
	min-height: 360px;
	width: 100%;
	background-color: white;
	overflow: hidden;
	display: table;
}

.tips_info_content{
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	background-color: white;
	padding: 40px 20px;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	display: none;
}

.tips_capsula{
	background-color: orange;
	border-radius: 25px;
	height: 45px;
	line-height: 45px;
	color: white;
	font-size: 16px;
	width: 100%;
	padding: 0 20px;
	padding-left: 40px;
	margin-bottom: 10px;
}

.tips_info_content.active{
	display: block;
	left: 0;
}

#tips_carrurel_cont h4{
	color: orange !important;
	margin: 0;
	margin-bottom: 5px;
}

#tips_carrurel_cont p{
	padding-right: 40px;
	font-size: 14px;
}

footer{
	padding: 30px 0;
}

#footer_logo{
	width: 220px;
	min-height: 200px;
	background-color: green;
}

footer ul{
	margin: auto;
	padding: 0; 	
	list-style-type: none;
}

footer ul li{
	text-decoration: none !important;
	text-align: center;
}

.footer_text{
	padding: 20px 0;
}

/*  Nuestra historia */

#nuestra_historia{
	padding: 40px 0;
	
}

.nuestra_historia_row .nuestra_historia_col{
	min-height: 330px;
	display: table-cell;
	vertical-align: top;
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	.adopta_item.col-sm-4{
		float: inherit;
		display: block;
	}
	
	.adopta_item{
		max-width: 350px;
		margin: auto;
	}
	
	.historia_item{
		max-width: 350px;
		margin: auto;
		margin-bottom: 30px;
		float: none !important;
	}
}

